# Ignore docs directory.
docs/*

# Ignore pycache.
*.pyc

# Ignore setup.
setup.py
setup.cfg

# Ignore license.
LICENSE

# Ignore build files.
build/*
dist/*
enigma.egg-info/*

# Ignore backup files.
*.bak
